header {
	border-style: solid;
	border-width: 1px;
	border-color: green;
}

.navi {
	list-style-type: none;
	display: inline-block;
}

.disabled {
	color: grey;

}

.disabledP {
	color: purple;
}

.active {
	color: yellow;
}

#red {
	color: red;
}

#blue {
	color: blue;
}

#backRed {
	background-color: red;
	display: inline-block;
}

#backBlue {
	background-color: blue;
	display: inline-block;
}

#brdr {
	border-style: solid;
	border-radius: 50%;
	display: inline-block;
}

.promo {
	color: gold;
	font-weight: bold;
}

input {
	height: 25px;
}









